@{
    ViewData["Title"] = "Home Page";
}

@using EntraID_MVC.Controllers

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

@if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
{
    var getUser = @HomeController.GetUserOnEntraID(User);

    <h4> Entra ID User name: @getUser.user_name </h4>
    <h4> Entra ID Email: @getUser.user_email </h4>

    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
        Sign Out (X)
    </a>
}